.parent {
    display: grid;
    place-items: center;
  }
  .titulo{
  position: sticky;
  top:0;
  float: right;
  }
  .title{
    text-align: center;
    font-family: 'Hubballi', cursive;
    width: 70;
    height: 70;
    background-color: #F3E9DD;
    margin: auto;
    float: right;
  }
 
  .card {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #E3CAA5;
    
  }
  *{
    background-color: #F3E9DD;
  }
  .visual {
      height: 125px;
      width: 100%;
    }
  
  .ej1{
    background:#5d3a3a;
    margin:0;
    width: 350px;
    height: 300px
  }
  #ej1{
    margin-top: auto;
    width: 200px;
    height: 200px;
    background: #b5e0ba;
  }
  
  .ej2{ background: #62374e;
    width: 315px;
    height: 300px;
  }
  .ej2{ margin: 50px 40px;
    width: 50px;
    height: 50px;
    background: #fdc57b;
    box-shadow: 250px 0 #fdc57b, 250px 150px #fdc57b, 0 150px #fdc57b;}
  
  
  .n{
    background: #6592CF;
    width: 350px;
    height: 300px;
    position:relative;
  }
  .r{background: #243d83;
    width:300px;
    height:150px;
    position:absolute;
    top:75px;
    left:50px;
  }
  .c{background: #6592cf;
    width:250px;
    height:250px;
    position:absolute;
    top:25px;
    left:75px;
    border-radius:100%
  }
  .cm{background: #243d83;
    width:150px;
    height:150px;
    position:absolute;
    top:70px;
    left:130px;
    border-radius:100%}
  .cc{background: #eeb850;
    width:50px;
    height:50px;
    position:absolute;
    top:125px;
    left:180px;
    border-radius:100%}
  
  .h{background:#62306d;
    margin: 0;;
    position:relative}
  .m{
    width: 100px;
    height: 100px;
    background: #f7ec7d;
    margin:auto;
    margin-top:50px;
    border-radius:50% 50% 0 0;
  }
  .l{
    width: 100px;
    height: 100px;
    position:static;
    background: #f7ec7d;
    margin-left:50px;
    border-radius:0 0 50% 50%;
  }
  .rr{
    width: 100px;
    height: 100px;
    background: #f7ec7d;
    border-radius:0 0 50% 50%;
    position:absolute;
    top: 150px;
    right:50px;
  }